_libgcc_mutex==0.1
_openmp_mutex==4.5
ca-certificates==2023.5.7
icu==72.1
libgcc-ng==13.1.0
libgomp==13.1.0
libstdcxx-ng==13.1.0
libuv==1.44.2
libzlib==1.2.13
nodejs==18.16.1
openssl==3.1.1
zlib==1.2.13
