h1{
    color: red;
}
.logo-login{
    margin: 40px auto;
    
}
.container-video{
    max-width: 1200px;
    margin: 100px auto;
    h2{
        text-align: center;
        text-transform: uppercase; 
    }
  }